.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}

.malina {
    background: #ac1557;
}

.malina-text {
    color: #3dbf26;
}
.rb {
    background: red;
}

.rb-text {
    color: white;
}