.checkbox {

}

.spanClassName {

}

.customcheckbox{
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.customcheckbox input[type=checkbox]{
    position: absolute;
    z-index: 0;
    display: block;
    width: 20px;
    height: 20px;
}

.customcheckbox span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 22px;
}
.customcheckbox span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
}
