.inputclass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputclass span{
    font-weight: 100;
    font-size: small;
    color: red;
}
.error {
    border: 1px solid red;
}
.wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}
.wrapper button{
    margin-left: 10px;
}
.wrapper span{
    color: red;
    position: absolute;
    left: 441px;
    font-size: larger;
    font-weight: bold;
    top: 16px;

}